body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.progress {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

div {
  height: 20px;
  background: #fff;
  border: 2px solid #000;
}

.progressBar{
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  line-height: 2.5em;
}

.progress > div {
  width: 200px;
  height: 40px;
  background: #000;
  border: none;
}

