body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.progress {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress > .progressBar {
  width: 200px;
  height: 40px;
  background: #000;
  border: none;

  color: whitesmoke;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  line-height: 2.5em;
}

.info {
  margin: 1em 1em;
  padding: 1em;
  background: rgba(255,255,255, 0.60);
  border: solid black 1px;
  font-size: 1.5em;
}
